/* Error.css */

/* Error container styling */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #f8f8f8;
    box-sizing: border-box; /* Ensures padding and border are included in the element's dimensions */
    padding: 0; /* Resets padding to avoid overflow */
    margin: 0; /* Resets margin to avoid overflow */
}

.error-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
}

.error-message {
    font-size: 16px;
    color: #333333;
}
